/*source: https://jmcglone.com/guides/github-pages/ */

body {
    margin: 60px auto;
    width: 80%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #908E8E;
}

a:link {
  color: #01336E;
}

a:hover {
    text-decoration: underline;
    color: #01336E;
}

a:active {
    color: #01336E;
}


h1 {
    font-size: 28px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 25px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 22px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5;
}

p {
    font-size: 19px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 16px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 15px;
}

ul.posts li {
    list-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
}

.logocv {
    float:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
}

.headingcv {
    display: block;
    float:left;
}

div#adds > ins{
    margin-top: 5px;
}
